{% extends 'base.html'%}

{% block content%}
<div class="container mt-5">
    <h2 class="text-center">Welcome to the CRUD Application</h2>

    <div class="row mt-4">
        <div class="col-sm-4">
            <h3 class="text-center alert alert-info">Add Students</h3>
        <form method="POST" action="">
            {%csrf_token%}
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="name" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp">
    
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
        </div>

        <div class="col-sm-8">
            <h3 class="text-center alert alert-success">Students List</h3>
            {% if form %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr class="text-center">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{student.name}}</td>
                        <td>{{student.email}}</td>
                        <td>
                            <a href="{%url 'update' student.id %}" class="btn btn-primary">Edit</a>
                            <form action="{%url 'delete' student.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                             <input type="submit" value="Delete" class="btn btn-danger"/>
                            </form>
                            
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>   
            {% else %}
            <h2 class="text-center alert-success">No Data Found</h2>
            {% endif %}
        </div>
    </div>
</div>   
{% endblock %}